html{
	box-sizing: border-box;
	font-family: Arial, Tahoma, sans-serif;
}

*,*::before, *::after{
	box-sizing: inherit;
}

a{
    text-decoration: none; /* Убирает подчеркивание для ВСЕХ ссылок */
}

*{
    margin: 0;
    padding: 0;
}

body{
	background-color: #f5f5f5;/*ctrl+I 11*11*/
}


.cover{
	margin: 25px auto;
	width: 300px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fefefe;
	overflow: hidden;	
	border-style: solid;
	border-width: 1px;
	border-color: rgb(187, 187, 187);
	border-radius: 5px;
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
	background-image: -webkit-linear-gradient(left, rgb(187,187,187) 0%, rgb(221,221,221) 0%, rgb(238,238,238) 0%, rgb(204,204,204) 100%);
	background-image: -o-linear-gradient(left, rgb(187,187,187) 0%, rgb(221,221,221) 0%, rgb(238,238,238) 0%, rgb(204,204,204) 100%);
	background-image: linear-gradient(to right, rgb(187,187,187) 0%, rgb(221,221,221) 0%, rgb(238,238,238) 0%, rgb(204,204,204) 100%);	
}

.tab-menu{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	
	border-radius: 5px 5px 0 0;
	box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.75);
}

/*label*/
.tab-menu__item{
  	cursor: pointer;
  	display: inline-block;
  	text-align: justify;
  	padding: 10px 15px 6px;
  	background-color: rgba(255, 255, 255, 0.502);
	border-radius: 5px 5px 0 0;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
	color:#aaaaaa;
	font-weight: bold;
	font-size: 11px;
	line-height: 22px;
}

input {
  	display:none;
}

input:checked + label{
  	background-color:#ffffff; /*делаем активное меню необходимого цвета*/
	color:#777777;
} 

#tab-1:checked ~ .content .menu-1{
	display: block;
}

#tab-2:checked ~ .content .menu-2{
	display: block;
}

#tab-3:checked ~ .content .menu-3{
	display: block;
}

/**articles*/
.content{
	padding: 0;
	margin-left: -20px;
	margin-right: -20px;
}

.menu{
	background-color: white;
	display:none;

}

.menu-content{
	padding-top: 10px;
	padding-left: 70px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-bottom: solid 1px #f1f1f1;
}

.menu-content:hover{
 	background-color: #e2e2e2;
 	cursor: pointer;
}

.menu-content:hover a{
	color: #115a97;
}

/*.menu-content:last-child{
	padding-bottom: 0;
	border-bottom: none;
}

.menu-content:last-child:hover{
	margin-bottom: -15px;
	padding-bottom: 15px;
}*/

.menu-content__title{
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 10px;
}

.menu-content__link{
	color:#666666;
	font-family: tahoma;/*кому присваивать h2 / a*/
	font-weight: bold;/*кому присваивать h2 / a*/
}

.menu-content__foto{
	float: left;
	margin-left: -50px;
}

.menu-content__info{
	color:#999999;
	font-weight: normal;
	font-size: 9px;
}

.info-data{
	padding-right: 10px;
}

.info-comments{
	padding-left: 10px;
	border-left: solid 1px #999999;
}