html{
	box-sizing: border-box;
	font-family: Roboto, Arial, sans-serif;
}

*,*::before, *::after{
	box-sizing: inherit;
}

body{
	margin: auto;
	padding:10px;
}

 html, body{
 	margin: 0;
 	height: 100%;
 }

.green{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 640px;
	min-height: 480px;
	height: 100%;
	padding: 10px;
	background-color: #8dc63f;
	border: solid 5px red;
	position: relative;
}

.yellow{
	top: 30px;
	left: 30px;
	width: 80px;
	height: 80px;
	background-color: #fff799;
	position: absolute;
}

.violet{
	width: 100px;
	height: 100px;
	background-color: #ab347d;
	position: absolute;
	/*margin*/
	/*top:;*/
	/*left:;*/
	right: 10px;
	/*bottom:;*/
}

.white{
	margin: auto;
	width: 150px;
	height: 150px;
	background-color: #ececec;
	border: solid 5px red;
}

.grey{
	width: 150px;
	height: 150px;
	background-color: #959595;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.dark-red{
	width: 45px;
	height: 45px;
	background-color: #a0410d;
	position:absolute;
	left:50px;
	bottom:50px;
	z-index: 1;
}

.purple{
	width: 40px;
	height: 40px;
	background-color: #8781bd;
	position:absolute;
	left:30px;
	bottom:30px;
}